* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.chat-list {
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 667px;
    background-color: #fffffe;
}

.user-profile {
    height: 60px;
    width: 411px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.user-profile .user-profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-profile .more-button{
    margin-left: auto;
    padding-right: 25px;
}

.contact-chat {
    width: 410px;
    height: 80px;
    background-color: #fffffe;
    border-top: 1px solid #f6f6f7;
    border-bottom: 1px solid #f6f6f7;
    padding: 15px;
    display: flex;
}

.contact-chat img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.text-area {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-content: center;
}

.contact-name {
    font-size: 24px;
    color: #6e6e6e;
    margin-bottom: 5px;
}

.contact-message {
    font-size: 14px;
    color: #898989;
}

.time {
    font-size: 12px;
    margin-left: auto;
    color: #898989;
    align-self: center;
}